@model ThanTai.Models.LoaiSanPham

@{
    ViewData["Title"] = "Sửa loại sản phẩm";
}

<div class="card">
    <h5 class="card-header">@ViewData["Title"]</h5>
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />

            <div class="mb-3">
                <label asp-for="Tenloai" class="control-label"></label>
                <input asp-for="Tenloai" class="form-control" />
                <span asp-validation-for="Tenloai" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ParentID" class="control-label"></label>
                <select asp-for="ParentID" class="form-control" asp-items="ViewBag.ParentID">
                    <option value="">-- Chọn loại cha (nếu có) --</option>
                </select>
                <span asp-validation-for="ParentID" class="text-danger"></span>
            </div>

            <div class="mb-0">
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Cập nhật</button>
                hoặc <a asp-action="Index">Quay về danh sách</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
