@model ThanTai.Models.ThuongHieu

@{
    ViewData["Title"] = "Thêm Thương Hiệu";
}
<div class="card"> 
    <h5 class="card-header">@ViewData["Title"]</h5>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="TenThuongHieu" class="control-label"></label>    
                <input asp-for="TenThuongHieu" class="form-control" />
                <span asp-validation-for="TenThuongHieu" class="text-danger"></span>
            </div>

            <div class="mb-0">
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Thêm mới</button> hoặc <a asp-action="Index">Quay về danh sách</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
